.section{
    &__black{
        background-color:$black;
    }
    &__white{
        background-color:$white;
    }
    &__light-grey{
        background-color:$light-gray;
    }
    &__primary{
        background-color:$primary-color;
    }
    &__secondary{
        background-color:$secondary-color;
    }
}

.heading{
    margin:0;
    padding:0;
    line-height: 1;
    &__heading-font{
        font-family:$header-font-family;
    }
    &__body-font{
        font-family:$body-font-family;
    }
    &__xxl{
        font-size: rem-calc(46);
        @include breakpoint(small only){
            font-size: rem-calc(28);
        }
    }
    &__xl{
        font-size: rem-calc(36);
        @include breakpoint(small only){
            font-size: rem-calc(24);
        }
    }
    &__lg{
        font-size: rem-calc(28);
        @include breakpoint(small only){
            font-size: rem-calc(22);
        }
    }
    &__md{
        font-size: rem-calc(24);
        @include breakpoint(small only){
            font-size: rem-calc(18);
        }
    }
    &__sm{
        font-size: rem-calc(18);
        @include breakpoint(small only){
            font-size: rem-calc(14);
        }
    }
    &__xs{
        font-size: rem-calc(14);
        @include breakpoint(small only){
            font-size: rem-calc(12);
        }
    }
    &__white{
        color:$white;
    }
    &__primary{
        color:$primary-color;
    }
    &__caps{
        text-transform: uppercase;
    }
}

.border{
    &__bottom{
        border-bottom: 1px solid $primary-color;
    }
    &__right{
        border-right: 1px solid $primary-color;
    }
    &__left{
        border-left: 1px solid $primary-color;
    }
    &__top{
        border-top: 1px solid $primary-color;
    }
    &__thick{
        border-width: 5px;
    }
    &__medium{
        border-width: 3px;
    }
    &__secondary{
        border-color: $secondary-color;
    }
    &__dark-grey{
        border-color: $dark-gray;
    }
    &__medium-grey{
        border-color: $medium-gray;
    }
    &__light-grey{
        border-color: $light-gray;
    }
    &__light{
        border-color: $white;
    }
    &__dark{
        border-color: $black;
    }
    &__alert{
        border-color: $alert-color;
    }
    &__warning{
        border-color: $warning-color;
    }
    &__radius{
        border-radius: 50%;
    }
    &__shadow{
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    }
}
.button{
    &.btn__white{
        background-color:$white;
    }
    &.hollow{
        &.btn__white{
            border:$button-hollow-border-width solid $white;
            color:$white;
            background-color:transparent;
        }
    }
    &.clear{
        &.btn__white{
            color:$white;
            background-color:transparent;
        }
    }
}
.header{
    position:fixed !important;
    z-index:1000;
    width:100vw;
    transition:.3s;
    &__icon{
        padding:10px 0;
        display:flex;
        align-items:center;
        svg{
            max-width:rem-calc(18);
            width:rem-calc(18);
            height:rem-calc(18);
            max-height:rem-calc(18);
            margin-right:.5em;
        }
    }
    &__social{
        display: flex;
        justify-content: flex-start;
        align-items:center;
        svg{
            max-width:rem-calc(18);
            width: rem-calc(18);
            max-height:rem-calc(18);
            height: rem-calc(18);
            margin-right: 10px;
            path{
                fill: $white;
            }
        }
    }
}
#main-menu{
    padding:10px 0;
}
#main-nav{
    justify-content:center;
    a{
        color:$white;
    }
    .active{
        > a{
            border-bottom:2px solid $secondary-color;
            background-color:transparent !important;
        }
    }
}
.off-canvas{
    &__social{
        svg{
            max-width:rem-calc(24);
            width:rem-calc(24);
            margin:0 5px;
            path{
                fill:$white;
            }
        }
    }
}
.off-canvas-logo{
    display:flex;
    flex-direction:column;
    width:rem-calc(72);
    svg{
        max-width:rem-calc(72);
        width:rem-calc(72);
        path{
            fill:$white;
        }
    }
}
#offcanvas-nav{
    a{
        color: $white;
    }
}
.logo{
    display:flex;
    flex-direction:column;
    svg{
        max-width:rem-calc(100);
        width:rem-calc(100);
        path{
            fill:$white;
        }
    }
    &__text{
        margin-top:10px;
        transition:.3s;
        height:30px;
    }
}
.hero{
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
    position:relative;
    &:before{
        content:'';
        top:0;
        left:0;
        bottom:0;
        right:0;
        background: linear-gradient(0deg, rgba($black, .8) 0%, rgba($black, 0) 100%);
        position:absolute;
        z-index:1;
    }
    &.hero-page{
        &:before{
            background: rgba($black, .6);
        }
    }
    > div{
        position:relative;
        z-index:2;
    }
    &__scroll{
        width:rem-calc(30);
        height:rem-calc(30);
        position:absolute;
        bottom:10vh;
        left:50%;
        z-index:3;
        transform: translateX(-50%) rotate(45deg);
    }
}

.service{
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    position:relative;
    &:before{
        background-color:rgba($white, 1);
        top:0;
        left:0;
        right:0;
        bottom:0;
        content:'';
        position:absolute;
        z-index:1;
        transition:.5s;
    }
    &__logo{
        .logo__text{
            display:none;
        }
        svg{
            max-width:rem-calc(100);
            width:rem-calc(100);
            path{
                fill:$primary-color;
            }
        }
    }
    &__container{
        height:rem-calc(300);
        display:grid;
        grid-template-rows: 3fr 1fr 1fr;
        align-items: flex-start;
        position:relative;
        z-index:2;
        transition:.5s;
        h5{
            padding-top:5%;
        }
    }
    &:hover{
        &:before{
            background-color:rgba($primary-color, .7);
            transition:.5s;
        }
        .service__container{
            h1, h2, h3, h4, h5, h6, a, p{
                color:$white;
                transition:.5s;
            }
        }
    }
    &__dropdown{
        svg{
            max-width: rem-calc(12);
            width: rem-calc(12);
            margin-left: rem-calc(10);
            margin-bottom:-2px;
        }
    }
}
.software{
    position:relative;
    &__background{
        background-size:cover;
        background-position:center;
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:60%;
        content:'';
        @include breakpoint(medium down){
            display:none;
        }
    }
    &__icon{
        max-width:rem-calc(75);
        width: rem-calc(75);
    }
}
.partners{
    &__logo-container{
        display:grid;
        grid-template-columns:repeat(6, 1fr);
        grid-gap:5em;
        justify-content:center;
        align-items:center;
        @include breakpoint(medium){
            grid-template-columns:repeat(4, 1fr);
            grid-gap:3em;
        }
        @include breakpoint(small){
            grid-template-columns:repeat(3, 1fr);
            grid-gap:2em;
        }
    }
}
.contact{
    &__logo{
        display: flex;
        flex-direction: column;
        svg{
            max-width: rem-calc(150);
            width: rem-calc(150);
            path{
                fill:$primary-color;
            }
        }
    }
    &__form{
        input, textarea{
            border-color:$primary-color !important;
            color: $primary-color !important;
        }
    }
}
.slick{
    &__button{
        height:rem-calc(26);
        width:rem-calc(26);
        border-radius:0;
        position:absolute;
        top:30%;
        &:hover{
            cursor:pointer;

        }
    }
    &__prev{
        left:-3em;
        transform:rotate(-45deg);
    }
    &__next{
        right:-3em;
        transform:rotate(-45deg);
    }
}
.modal{
    &__image{
        height: rem-calc(300);
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
        position:relative;
        display: flex;
        align-items:center;
        justify-content: center;
        &:before{
            position:absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color:rgba($black, .7);
            content: '';
            z-index: 1;
        }
        > h3{
            z-index: 2;
        }
    }
    input, textarea{
        background-color:$light-gray;
        border:0px;
        border-radius:$global-radius;
        box-shadow:none;
        color:$medium-gray;
        font-size:rem-calc(14);
        padding:10px;
        &[type="submit"]{
            padding:10px 50px;
            transition:.3s;
            background-color:transparent;
            border: 2px solid $primary-color;
            margin:auto;
            &:hover{
                background-color:$primary-color;
                color:$white;
                cursor: pointer;
                transition:.3s;
            }
        }
        &:active, &:focus{
            background-color:transparent;
        }
    }
    textarea{
        max-height:100px;
    }
}
.footer{
    &__contact{
        input, textarea{
            background-color:transparent;
            border:1px solid $white;
            border-radius:5px;
            color:$white;
            font-size:rem-calc(14);
            padding:10px;
            &::placeholder{
                color:$white;
            }
            &[type="submit"]{
                padding:10px 50px;
                transition:.3s;
                &:hover{
                    background-color:$white;
                    color:$primary-color;
                    transition:.3s;
                }
            }
            &:active, &:focus{
                background-color:transparent;
            }
        }
        textarea{
            max-height:100px;
        }
    }
    &__logo{
        display:flex;
        flex-direction:column;
        svg{
            max-width:rem-calc(200);
            width:rem-calc(200);
            path{
                fill:$white;
            }
        }
        .logo__text{
            height:rem-calc(50);
        }
    }
    &__icons{
        svg{
            max-width:rem-calc(32);
            width:rem-calc(32);
            max-height:rem-calc(32);
            height:rem-calc(32);
            margin-left:1em;
            path{
                fill:$white;
            }
        }
    }
    @include breakpoint(medium down){
        &__logo{
            svg{
                margin: auto;
            }
        }
        &__icons{
            text-align: center;
            svg{
                &:first-of-type{
                    margin-left: 0;
                }
            }
        }
        .inner-footer{
            text-align: center;
            p{
                text-align: center;
            }
        }
    }
}

.scrolled{
    .header{
        background-color:rgba($primary-color, .95);
        border-bottom:1px solid $white;
        transition:.3s;
    }
    #main-menu{
        .logo{
            &__text{
                margin-top:10px;
                height:0;
                transition:.3s;
            }
        }
    }
    .off-canvas-logo{
        .logo__text{
            margin-top:10px;
            height:0;
            transition:.3s;
        }
    }
}

//Wp Overrides
.alignleft{
    float: left;
    margin:0 1em 1em 0;
}
.alignright{
    float: right;
    margin: 0 0 1em 1em;
}